In [12]:
import pandas as pd

In [13]:
movies = pd.read_csv("data/movies_etl.csv", sep=",")
directors = pd.read_csv("data/directors.csv", sep=",")

In [14]:
sist_recomendacion_df = (
     pd.merge(
         movies[['title','overview','id_movie']],
         directors,
         on = 'id_movie',
         how='inner')
     )

sist_recomendacion_df

,title,overview,id_movie,id_director,name
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,7879,John Lasseter
1,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,12891,Joss Whedon
2,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,7,Andrew Stanton
3,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,12892,Joel Cohen
4,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,12893,Alec Sokolow
...,...,...,...,...,...
422485,Betrayal,"When one of her hits goes wrong, a professiona...",67758,549356,Richard McHugh
422486,Betrayal,"When one of her hits goes wrong, a professiona...",67758,58818,João Fernandes
422487,Satan Triumphant,"In a small town live two brothers, one a minis...",227506,1085341,Yakov Protazanov
422488,Satan Triumphant,"In a small town live two brothers, one a minis...",227506,1195656,Joseph N. Ermolieff
422489,Queerama,50 years after decriminalisation of homosexual...,461257,1344495,Daisy Asquith

In [15]:
sist_recomendacion_df = sist_recomendacion_df.groupby(['title','overview'], as_index=False)['name'].agg(' '.join)
sist_recomendacion_df

,title,overview,name
0,!Women Art Revolution,"Through intimate interviews, provocative art, ...",Lynn Hershman Leeson Ariel Dougherty
1,#1 Cheerleader Camp,A pair of horny college guys get summer jobs a...,Mark Quod David Michael Latt Chris Ridenhour D...
2,#Chicagogirl,From her childhood bedroom in the Chicago subu...,Joe Piscatella Mark Rinehart Jeff Castelluccio
3,#Horror,"Inspired by actual events, a group of 12 year ...",Tara Subkoff Jason Ludman Oren Segal Brendan W...
4,"$1,000 On The Black",Johnny Liston has just been released from pris...,Mario Siciliano Rolf Olsen Ernesto Gastaldi An...
...,...,...,...
43713,Юленька,"A university professor, who wants to slow down...",Aleksandr Strizhenov Andrey Kureychik Grigori ...
43714,‘Rameau’S Nephew’ By Diderot (Thanx To Dennis ...,Described (rather cheekily) by director Michae...,Michael Snow
43715,’Round Midnight,Inside the Blue Note nightclub one night in 19...,Amanda Mackey Alexandre Trauner Herbie Hancock...
43716,…And The Fifth Horseman Is Fear,A Jewish doctor helps a political fugitive dur...,Miroslav Pesan Zbynek Brynych Milan Nejedlý Ha...
43717,ファンタスティポ,Two brothers must take the helm of their famil...,Shogo Yabuuchi Shogo Yabuuchi

In [16]:
print(
    sist_recomendacion_df
    .isnull()
    .sum()
)
print (sist_recomendacion_df.shape)

title       0
overview    0
name        0
dtype: int64
(43718, 3)

In [20]:
sist_recomendacion_df['title'] = sist_recomendacion_df['title'].astype('str').str.title().str.strip()
sist_recomendacion_df['overview']= sist_recomendacion_df ['overview'].astype('str')
sist_recomendacion_df['name'] = sist_recomendacion_df['name'].astype('str')

sist_recomendacion_df['text'] = sist_recomendacion_df['overview'] +  sist_recomendacion_df['name']

sist_recomendacion_df.to_csv("data/sist_recomendacion_df.csv",index=False)

sist_recomendacion_df

,title,overview,name,text
0,!Women Art Revolution,"Through intimate interviews, provocative art, ...",Lynn Hershman Leeson Ariel Dougherty,"Through intimate interviews, provocative art, ..."
1,#1 Cheerleader Camp,A pair of horny college guys get summer jobs a...,Mark Quod David Michael Latt Chris Ridenhour D...,A pair of horny college guys get summer jobs a...
2,#Chicagogirl,From her childhood bedroom in the Chicago subu...,Joe Piscatella Mark Rinehart Jeff Castelluccio,From her childhood bedroom in the Chicago subu...
3,#Horror,"Inspired by actual events, a group of 12 year ...",Tara Subkoff Jason Ludman Oren Segal Brendan W...,"Inspired by actual events, a group of 12 year ..."
4,"$1,000 On The Black",Johnny Liston has just been released from pris...,Mario Siciliano Rolf Olsen Ernesto Gastaldi An...,Johnny Liston has just been released from pris...
...,...,...,...,...
43713,Юленька,"A university professor, who wants to slow down...",Aleksandr Strizhenov Andrey Kureychik Grigori ...,"A university professor, who wants to slow down..."
43714,‘Rameau’S Nephew’ By Diderot (Thanx To Dennis ...,Described (rather cheekily) by director Michae...,Michael Snow,Described (rather cheekily) by director Michae...
43715,’Round Midnight,Inside the Blue Note nightclub one night in 19...,Amanda Mackey Alexandre Trauner Herbie Hancock...,Inside the Blue Note nightclub one night in 19...
43716,…And The Fifth Horseman Is Fear,A Jewish doctor helps a political fugitive dur...,Miroslav Pesan Zbynek Brynych Milan Nejedlý Ha...,A Jewish doctor helps a political fugitive dur...
43717,ファンタスティポ,Two brothers must take the helm of their famil...,Shogo Yabuuchi Shogo Yabuuchi,Two brothers must take the helm of their famil...

In [18]:
df = sist_recomendacion_df[['title', 'text']]
df

,title,text
0,!Women Art Revolution,"Through intimate interviews, provocative art, ..."
1,#1 Cheerleader Camp,A pair of horny college guys get summer jobs a...
2,#Chicagogirl,From her childhood bedroom in the Chicago subu...
3,#Horror,"Inspired by actual events, a group of 12 year ..."
4,"$1,000 On The Black",Johnny Liston has just been released from pris...
...,...,...
43713,Юленька,"A university professor, who wants to slow down..."
43714,‘Rameau’S Nephew’ By Diderot (Thanx To Dennis ...,Described (rather cheekily) by director Michae...
43715,’Round Midnight,Inside the Blue Note nightclub one night in 19...
43716,…And The Fifth Horseman Is Fear,A Jewish doctor helps a political fugitive dur...
43717,ファンタスティポ,Two brothers must take the helm of their famil...

In [19]:
df.to_csv("data/ml_df.csv",index=False)

------